* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

.logo{
  max-width: 100px;
}

.navbar{
  display: flex;
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section{
  padding: 20px;
}

.heroSection{
  display: flex;
  flex-direction: column;
}

.heroImage{
  max-width: 400px;
  align-self: center;
}

.heroHeader{
  margin-bottom: 16px;
}

.heroDesc{
  margin-top: 0;
}

.cardsList {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card{
  position: relative;
  font-size: .75rem;
  width: 175px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
}

.cardImage {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

/* ADD */
.cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating{
  display: flex;
  align-items: center;
}

.star{
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.cardTitle{
  font-weight: normal;
  font-size: 0.75rem;
}

/* ADD */
.cardPrice {
  margin-top: auto;
}

.cardBadge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.gray{
  color: #918E9B;
}




